/aclocal.m4
/aminclude.am
/autom4te.cache
/config.cache
/config.log
/_configs.sed
/config.status
/configure
/configure.ac
/docs
/foo__genmod.f90
/foo__genmod.mod
/libtool
/LICENSE
/Makefile
/Makefile.in
/*.pc
/t__genmod.f90
/t__genmod.mod
