/Makefile
/Makefile.in
/acl-internal.h
/acl.h
/acl_entries.c
/binary-io.h
/config.charset
/copy-acl.c
/copy-file.c
/copy-file.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.in.h
/file-has-acl.c
/full-write.c
/full-write.h
/gettext.h
/intprops.h
/localcharset.c
/localcharset.h
/mbrtowc.c
/mbsinit.c
/open.c
/quote.c
/quote.h
/quotearg.c
/quotearg.h
/ref-add.sin
/ref-del.sin
/safe-read.c
/safe-read.h
/safe-write.c
/safe-write.h
/set-mode-acl.c
/stat.c
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdlib.in.h
/streq.h
/strerror.c
/string.in.h
/sys_stat.in.h
/time.in.h
/unistd.in.h
/verify.h
/wchar.in.h
/wctype.in.h
/write.c
/xalloc-die.c
/xalloc.h
/xmalloc.c
